

<div class="row">
  <div class="column" style="background-color:#aaa;">
    <pb-article>
      <h1>Breadcrumb Data</h1>
         <div>
             Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Ad nesciunt excepturi sit ipsum alias suscipit adipisci,
              repudiandae est in delectus rerum molestias,
              rem dolore nulla id doloribus obcaecati illo consequuntur!
         </div>
  </pb-article>
  </div>
  <div class="column" style="background-color:#bbb;">
    <pb-article>
      <h1>Take monthly subscription</h1>
         <div>
             Do you know where you are spending your money? If you really stop to track it down,
             you would get surprised! Proper budget management depends on real data... and this
             app will help you with that!
         </div>
    </pb-article>
  </div>
</div>
